@import url('https://fonts.googleapis.com/css2?family=Caveat&family=DM+Sans:opsz@9..40&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Onest:wght@300&family=Quicksand:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300&family=Teko:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(burgir.jpg);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17rem;
}

.text {
    font-size: 30px;
    font-weight: 700;
    font-family: Orbitron, sans-serif;
    color: white;
}

#timer {
    font-size: 6rem;
    font-family: Teko, sans-serif;
    padding: 0px 30px 0px 30px;
    border: solid 2px black;
    border-radius: 5px;
    background-color: rgba(254, 223, 186, 0.819);
}
